# SPDX-FileCopyrightText: 2022 The Aalto Grades Developers
#
# SPDX-License-Identifier: MIT

# Dependencies
node_modules
.pnp
.pnp.js

# Random files
.DS_Store
*.key
*.crt
*.cet
*.pem

# Emacs files
.dir-locals.el
*.#*

# IDE Settings
# get only example.settings.jsonc from .vscode, ignore the rest
.vscode/*
!.vscode/example.settings.jsonc

# Local GitHub workflow
.actrc
