# SPDX-FileCopyrightText: 2022 The Aalto Grades Developers
#
# SPDX-License-Identifier: MIT

# Dependencies
node_modules
.pnp
.pnp.js

# Keys (Will be changed in the future but works until then)
reverse-proxy/keys

# Random files
.DS_Store

# Emacs files
.dir-locals.el
*.#*

# IDE Settings
# get only example.settings.jsonc from .vscode, ignore the rest
.vscode/*
!.vscode/example.settings.jsonc

# Local GitHub workflow
.actrc
