Include ~/.ssh/config

Host magi
	HostName magi.cs.aalto.fi

Host grades
	HostName aalto-grades.cs.aalto.fi
	ProxyJump magi

	# IMPORTANT: use 127.0.0.1 to avoid exposing these ports to the
	# internet.
	# Forward adminer
	LocalForward 127.0.0.1:8080 127.0.0.1:8080
	# Forward frontend
	LocalForward 127.0.0.1:3005 127.0.0.1:3005
	# Forward backend
	LocalForward 127.0.0.1:3000 127.0.0.1:3000
