/*
SPDX-FileCopyrightText: 2024 The Aalto Grades Developers

SPDX-License-Identifier: MIT
*/

.react-flow__pane {
  path.react-flow__edge-path {
    stroke-width: 3;
  }
  td,
  th {
    padding: 5px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
  }

  /* Apply a border to the right of all but the last column */
  table th:not(:last-child),
  table td:not(:last-child) {
    border-right: 1px solid black;
  }

  /* Apply a border to the bottom of all but the last row */
  table > thead > tr:not(:last-child) > th,
  table > thead > tr:not(:last-child) > td,
  table > tbody > tr:not(:last-child) > th,
  table > tbody > tr:not(:last-child) > td,
  table > tfoot > tr:not(:last-child) > th,
  table > tfoot > tr:not(:last-child) > td,
  table > tr:not(:last-child) > td,
  table > tr:not(:last-child) > th,
  table > thead:not(:last-child),
  table > tbody:not(:last-child),
  table > tfoot:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

.dndnode {
  border: 1px solid;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
  cursor: grab;
}
